/* shared style info */
body {
    font-family: 'Work Sans', sans-serif;
}

.text-color-white{
    color: #FFF;
}
.text-color-perple{
    color: #8758F1;
}

.text-color-gray{
    color: #534C64;
}
.text-size{
    font-size: ;
}

.btn-primary {
    width: 96px;
    height: 33px;
    border: 0px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-secondary {
    width: 96px;
    height: 33px;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
}

/* nav styles info */
nav {
    display: flex;
    justify-content: space-between;
}

nav>.logo {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-evenly;

}

nav li {
    list-style: none;

}

.banner {
    display: flex;
    justify-content: space-between;
}
.banner-bg-img{
    width: 801px;
    height: 400px;
    background-image: url(../images/Group\ 14.png);    
}

.banner img{
    width: 400px;
    height: 250px;
    align-items: right;
}
.we-are-gamer{
    display: flex;

    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    justify-content: space-between;
}
.we-are-gamer-desc{
    align-items: right;
}