/* shared style info */
body {
    font-family: 'Work Sans', sans-serif;
}

.text-color-linear-gradiant {
    color: #FF42A5;
}

.text-color-white {
    color: #FFF;
}

.text-color-perple {
    color: #8758F1;
    #F948B2,
    #8758F1
}

.text-color-gray {
    color: #534C64;

}

.text-size {
    font-size: 14px;
}

.btn-primary {
    width: 96px;
    height: 33px;
    border: 0px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-secondary {
    width: 96px;
    height: 33px;
    border: 0px;
    border-radius: 48px;
    background: #4EC5F7;
}

.btn-tertiary {
    width: 96px;
    height: 33px;
    border: 0px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.logo-size {
    padding-right: 5px;
    width: 30px;
    height: 20px;

}

/* nav styles info */
nav {
    display: flex;
    justify-content: space-between;
}

nav>.logo {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;

}

nav li {
    list-style: none;
    text-decoration: none;
    margin-right: 40px;

}

nav a {

    text-decoration: none;
}

.list-icon {
    display: flex;
    margin-right: 100px;
    width: 200px;
    height: 30px;
    background: rgba(11, 2, 35, 0.10);
    border: 0px;
    border-radius: 8px;

}

.list-icon img {
    margin-right: 5px;
    border: 0px;
    border-radius: 8px;

}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner-bg-img {
    width: 801px;
    height: 400px;
    background-image: url(../images/Group\ 14.png);
}


.banner-desc {
    margin-left: 150px;
    max-height: 250px;
}

.banner img {
    width: 300px;
    height: 250px;
    align-items: right;
    margin-right: 90px;
}

.banner .goat-special {
    padding: 0px;
    margin: 5px;
    font-size: 65px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-btn {
    margin-top: 20px;
    gap: 5px;
}

.img-1 {
    list-style: none;
    text-decoration: none;
}


.img-1 img {
    width: 15px;
    height: 15px;
}

.img-1 a {
    text-decoration: none;
    align-items: start;
    margin-left: 0px;
}


.we-are-gamer {
    display: flex;
    max-height: 400px;

    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    justify-content: space-between;
}

.we-are-gamer img {
    max-width: 900px;
    max-height: 400px;
}

.we-are-gamer-desc {
    margin-right: 100px;
}

.we-are-gamer-desc h3 {
    text-align: right;
}

.we-are-gamer-desc p {
    text-align: right;
}

.gamer-btn {
    margin-left: 335px;
    align-items: end;
}

.cart-container {
    padding: 100px;
    display: flex;
    justify-content: space-around;

}

.cart-container h3 {
    text-align: center;
}

.cart {
    width: 250px;
    height: 300px;
    text-align: left;
    font-size: 20px;
    ;
}

.cart img {
    max-width: 250px;
    max-height: 300px;
}

.cart p {
    font-size: 16px;
}


.play-instantly {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instantly-desc {
    margin: 100px 200px;
}

.play-instantly-desc h3 {
    text-align: right;

}

.play-instantly-desc p {
    text-align: right;

}

.play-instantly .polo-man {
    width: 350px;
    height: 400px;
    margin-left: 90px;

}

.play-instantly .pichchi-img {
    width: 220px;
    height: 220px;
    position: relative;
    bottom: 100px;
}


.play-games-online {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-games-online .curton-girl{
    width: 350px;
    height: 400px;
    /* margin-left: 90px; */
}

.play-games-online .curton-pichchi{
    margin-left: 260px;
    width: 220px;
    height: 220px;
    position: relative;
    bottom: 100px;
}

.play-games-online-desc {
    margin: 100px 200px;
}

.play-games-online-desc h3 {
    text-align: left;
}

.play-games-online-desc p {
    text-align: left;
}


.career {

    height: 500px;
    display: flex;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    justify-content: space-betweenD;

}
.career-desc{
    padding: 60px;
}

.left-right-desc{
    display: flex;
    justify-content: space-between;
}
.career-desc-left p{
    text-align: left;
}

.career-desc-right p{
    text-align: right;
}

.career img {
    width: 700px;
    max-height: 500px;
}

.game-btn {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.cart-btn {
    border:
}

.gamer-footer {
    padding: 100px;
    background-color: #0B0223;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-sms {
    display: flex;
    align-items: center;
}

.footer-icon {
    display: inline-flex;
}

.footer-terms {
    display: flex;
    justify-content: space-evenly;
}

.footer-copy-right {
    align-items: center;
}


/* Responsive */
/* for Mobile Device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav li {
        padding: 0px;
        margin-right: 10px;
    }

    .banner {
        flex-direction: column;
    }

    .we-are-gamer {
        flex-direction: column;
    }

    .banner .we-are-gamer-img {
        width: 10px;
        /* max-height: 50px; */
    }
}